# Python execution files
__pycache__/
*.pyc

# Virtual Environments
.venv/
env/
venv/

# SECRETS (Do not upload these!)
*.env
**/.env
*/*.env
**/*/.env
**/.env.example
**/__pycache__/
**/data/index/
**/data/processed/
# Large data and database files
*.db
*.index
*.pkl
**/data/index/
**/data/processed/